.home-page {
  .text-zone {
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
}
  h1{
    color: #fff;
    margin-left: 10px;
    font-size: 45px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

   
+

    img {
      height: 100px;
      width: 100px;
      margin-right: 200px;
      height:auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;

}

  }
  h2 {
    color:#97951a;
    margin-top: 20px;
    font-weight: 400;
    font-size: sans-serif;
    letter-spacing: 3px;
    animation:fadein 1s 1.8s backwards    ;
    -webkit-animation:fadein 1s 1.8s backwards    ;
}

.flat-button {
  color:#00aeff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #00aeff;
  margin-top: 20px;
  float: none;
  animation: fadeIn 1s 1.5s backwards;
  white-space: nowrap;
  
  &::hover {
    background: #00aeff;
    color: #333;

  }
}
}